@import 'index.css';

/* index.css */
.main-header {
  margin: 0;
}

.menu-button {
  background-color: var(--main-bg);
  border: none;
}

.menu-icon:active{
  background-color: var(--secondary-bg);
}

.menu-icon {
  color: var(--main-bg); 
  font-size: 24px;
  width: 100%;
}

.header-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.5rem
}

.menu-item{
  text-decoration: none;
  color: var(--main-text);
}