@import 'index.css';

/* index.css */
.main-header {
  margin: 0;
  border-bottom: 1px solid var(--secondary-text);
}

.menu-button {
  background-color: var(--main-bg);
  border: none;
}

.menu-icon:active{
  background-color: var(--secondary-bg);
}

.menu-icon {
  color: var(--main-bg); 
  font-size: 24px;
  width: 100%;
}

.header-menu{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.menu-item{
  text-decoration: none;
  color: var(--main-text);
  width: 99vw;
  text-align: center;
  padding: 1rem;
}

.menu-item:hover{
  background-color: var(--secondary-bg);
}

@media(min-width: 768px){
  /* Header query */
    .menu-button{
      display: none;
    }

    .header-menu{
      display: block;
      flex-direction: row;
    }
}