@import 'index.css';


/*Header menu*/
.main-header {
  margin: 0;
  padding-inline-start: 1rem;
  border-bottom: 1px solid var(--secondary-text);
  font-size: 1.5rem;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr  1fr; 
  grid-template-rows: 1fr auto; 
  align-items: center; 
}

.logo {
  display: inline;
  padding: 0.3rem;
  align-items: center;
  position: relative;
  grid-column: 1; 
  font-size: 1.5rem;
  
}

.menu-button {
  padding: 0.3rem;
  margin-right: 1rem;
  background-color: var(--main-bg);
  justify-self: end;

  border: none;
  grid-column: 2; 
}

.menu-icon:active {
  background-color: var(--secondary-bg);
}

.menu-icon {
  color: var(--main-bg);
  font-size: 40px;
  width: 100%;
}

.header-menu {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3; 
}

.menu-item {
  text-decoration: none;
  color: var(--main-text);
  text-align: center;
  padding: .8rem;
  position: relative;
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #353535;
  filter: blur(1rem);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu-item:hover::before {
  opacity: 1;
  filter: blur(5px);
}

@media (min-width: 768px) {
  /* Header query */
  .main-header {
  display: flex;
  justify-content: flex-start;
  min-height: 7rem;
  }

  .menu-button {
    display: none;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: auto;
  }

  .logo{
    font-size: 2rem;
  }
}

/*Main content*/

.main-content{
  margin:1.5rem; 
  display: flex;
  flex-direction:row;
}

.main-content h1 {
  font-size: xx-large;
  background: linear-gradient(45deg, #FF0000, #FF3333, #FF6666, #FF9999, #0000FF, #3333FF, #6666FF, #9999FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw; 
  font-weight: bold; 
  
}

.img-container {
  max-width: 100px;
}

.img-container {
  object-fit: contain;
}
